
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400|Playfair+Display:400,900i');

h1{
	font-family:"Playfair Display", serif;
	font-style: italic;
	font-size: 105px;
	color: #F4E326;
	padding-left: 40%;
	padding-right: .5em;
	line-height: 90%;

}

body{
	background-size: 100%;
}

footer {
	font-family:  'Kanit', sans-serif;
	font-size: 8;
	padding-left: 40%;
	padding-right: 5%;
	color: #FCF7FC; 
}

nav {
	text-align: center;
	padding-left: 40%;
	padding-right: 5%;
}

img {
	background-size: 100%
}

p {	
	font-family: 'Kanit', sans-serif;
	font-size: 18
	font-weight: 300;
	padding-left: 40%;
	padding-right: 5%;
	color: #FCF7FC; 
}

nav {
	font-family:'Open Sans Condensed', sans-serif;
	color: 5E545F;
	text-align: left;
}

#slogan {
	font-family:  'Kanit', sans-serif;
	font-size: 30px; 
	letter-spacing: 2px;
	word-spacing: 2px;
	line-height: 70%;
	text-align: left;
	padding-left: 40%;
	color: #FCF7FC; 
}
