@import url('https://fonts.googleapis.com/css?family=Kanit:300,400|Playfair+Display:400,900i');
* {margin:0;padding:0;box-sizing:border-box;}

#copyright{
	font-family:  'Kanit', sans-serif;
	font-size: 8;
	text-align: center;
	color: #FCF7FC; 
}


#contact_info{
	color: #FCF7FC;
	text-align: center;
	color: #FCF7FC;
}


header{
	background-color: #FFED74;
	border: 1px black solid;
	padding:20px;
}


h1{
	font-family:"Playfair Display", serif;
	font-style: italic;
	font-size: 105px;
	color: #F4E326;
	padding-left: 40%;
	padding-right: .5em;
	line-height: 90%;
}


h2{
	font-family: 'Kanit', sans-serif;
	text-align: center;
}


body{
	background-size: 100%;
}


footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
    color: #FCF7FC;
}


nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	padding-right: 5%;
}


p {	
	font-family: 'Kanit', sans-serif;
	font-size: 18;
	font-weight: 300;
	color: #FCF7FC; 
}


nav {
	font-family:'Open Sans Condensed', sans-serif;
	color: #5E545F;
}


#song_tiles{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	color: #FCF7FC;
}


#slogan {
	font-family:  'Kanit', sans-serif;
	/* border: 1px black solid; */
	padding: 20px;
	font-size: 30px;
	letter-spacing: 2px;
	word-spacing: 2px;
	line-height: 70%;
	text-align: left;
	color: #FCF7FC;
	width: 1200px;
	margin: auto;
}


image {
	border-radius: 4px;
}


#events{
	background-color: #FFE2B8;
	color: #FCF7FC;
}


#people{
	background-color: #FFE2B8;
	color: #FCF7FC;
}






